
.about
{
    background-image: url(99.jpg) ;
    background-size: 100%;
    height: 95vh;
}

h1 {
    padding-top: 60px;
    color: #0f075bbf;
    text-align: center;
    font-size: 35px;
}

h3 {
    color: #fff;
    text-align: center;
    font-size: 35px;


}

p {
    color: #ffffff;
    text-align: center;
    font-size: 25px;


}
div.a {
    text-align: center;
}


