.teacher{ background:#f9f9f9; } 
    
    .teacher .card-container{ 
        display: flex; 
        align-items: center;
        justify-content: center; 
        flex-wrap: wrap; 
        padding:2rem 0; 
    } 
    
    .teacher .card-container .card{ 
        padding:2rem; 
        margin: 2rem; 
        background:#fff; 
        text-align: center; 
        width:28rem; 
        box-shadow: 0 .3rem .5rem rgba(0,0,0,.3); 
    } 
    
    .teacher .card-container .card img{ 
        height:30rem; 
        width:100%; 
        object-fit: cover; 
        filter: grayscale(); 
        transition: .2s; 
    
    } 
    
    .teacher .card-container .card:hover img{ filter: grayscale(0); } 
    
    .teacher .card-container .card h3{ 
        color:#FF046F; 
        font-size: 2rem; 
        padding:.5rem 0; 
    } 
    
    .teacher .card-container .card p{ 
        font-size: 1.7rem; 
        color:#666; 
    } 
    
   
    
.heading{ 
    font-size: 4rem; 
    color:#FF046f; 
    text-align: center; 
    padding:0 1rem; 
    padding-top: 6rem; 
    letter-spacing: .2rem; 
    font-weight: 500; 
} 

.title{ 
    padding:0 1rem; 
    font-size: 2rem; 
    text-align: center; 
    font-weight: 400; 
    color:#aaa; 
} 


button{

background-color: #FF046F;
width: 150px;
height: 40px;
border-radius: 7px;
margin-left: 200px;
}

table.ta{

width: 455px;
height: 120px;
margin-bottom: 20px;

}

table.ta td{


    color:#FF046F;
    font-size: 25px;
}
