@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}

.main_bg {
    height: 600px;
    display: flex;
    justify-content: left;
    align-items: center;  
    background-size:100% 100%;
    background-attachment:fixed; 
    width: 900px;
}

.form {
    width: 100%;
    background-image: url("phot2.jpg");
}

/*صفات عنوان الصفحه*/
    .form-text h1 {
        color:black;
        font-family: 'Akaya Telivigala', cursive;
        font-size: 50px;
        margin-bottom: 40px;
    }

    /*حجم الصندوق*/
.main-form div {
    margin: 10px 10px;
    width: 400px; 
    display: inline-block;
}

    /* صفات العناصر داخل ال وهي موجوده داخل البوتونinput */
    .main-form div input {
        width: 100%;
        font-family: 'Akaya Telivigala', cursive;
        background: #000000;
        border: 1px solid hsl(252, 74%, 38%, 0.53);
        font-size: 25px;
        color:#fff;
        outline: none;
        padding: 10px 0 10px 20px;
        margin-top: 10px;
    }

        .main-form div input:hover {
            font-family: 'Akaya Telivigala', cursive;
            width: 100%;
            background-color: #ffffff;
            color: black;
        }
    .main-form div textarea {
        width: 100%;
        font-family: 'Akaya Telivigala', cursive;
        background: #000000;
        width: 100%;
        font-size: 15px;
        min-height: 200px;
        max-height: 400px;
        color: #fff;
        padding: 12px;
        margin-top: 10px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        margin-bottom: 20px;
    }
    .main-form div textarea:hover {
        font-family: 'Akaya Telivigala', cursive;
        width: 100%;
        background-color: #ffffff;
        color: black;
    }


#submit {
    width: 100%;
    text-align: left;
}
    /*for button اسم البوتون  */
    #submit input {
        font-family: 'Akaya Telivigala', cursive;
        width: 200px;
        background-color: #fff;
        color:#000000;
        transition: all .3s;
    }
      

        #submit input:active {
            font-size: 19px;
            background-color: black;
            color: #fff !important;
        }

